body {
  background-image: url(./assets/images/Abstract_Modern_Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: #e9cfbf;
  height: 80vh;
  width: 150vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topbar {
}

.topbar > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.topbar > ul li {
  display: inline;
  text-align: center;
}

.topbar a {
  color: inherit;
  text-decoration: inherit;
}

.left {
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 10rem;
}

.right {
  float: right;
  width: 50%;
  text-align: center;
  margin-top: 8rem;
}
